version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: suraksha-postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - suraksha_data:/var/lib/postgresql/data

volumes:
  suraksha_data:
